@import "yoga";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";
@import "box-sizing";
.container {
  display: flex;
  flex-direction: column;
}

.header {
  background: url(images/bg-login-top.png);
  display: flex;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

form {

  flex-direction: column;
  margin: auto;
  color: white;
  width: 300px;


}
.bottom-container {
  width: 100%;
    height: 50vh;
    background: url(images/bg-login.png);
    margin: auto;
    padding-top: 20px;
  }

  button {
  text-align: center;
  width: 100px;
  background-color: green;
  border-radius: 9%;
  border: solid green 1px;
  color: white;
  padding: 10px;
  float: right;
  margin-right: 15px;

  }

  input {
    width: 200px;
    margin-left: 10px;
    border-radius: 4%;
    height: 2rem;

  }
  .input-password {
    margin-left: 13px;
    margin-top: 0
  }
